In [1]:
import pandas as pd

In [3]:
tech_skill_df=pd.read_csv("Example_Technical_Skills.csv")

In [4]:
tech_skill_df

                         Technology Skills
0                      SAP Fiori Developer
1    Oracle Instance Management & Strategy
2             Boomi Master Data Management
3    Digital Manufacturing on Cloud ( DMC)
4                                   DevOps
..                                     ...
974        Oracle Cloud Revenue Management
975       Oracle EBS Grid Contral Mgt Pack
976         Amazon Elastic MapReduce (EMR)
977                            Apache Kudu
978                             Oracle ESB

[979 rows x 1 columns]

In [5]:
raw_skill=pd.read_csv("Raw_Skills_Dataset.csv")

In [7]:
raw_skill

                                            RAW DATA
0                                           What ifs
1                                          seniority
2                                        familiarity
3                                    functionalities
4                                            Lambdas
...                                              ...
34111                                    negotiation
34112                                      deadlines
34113  Self-motivated, enthusiastic and strong drive
34114                                    negotiation
34115                                      deadlines

[34116 rows x 1 columns]

In [8]:
import numpy as np

In [10]:
from sklearn.svm import OneClassSVM

In [11]:
import nltk

In [ ]:
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
import re
ps = PorterStemmer()
corpus1 = []
for i in range(0, len(messages)):
    review = re.sub('[^a-zA-Z]', ' ', messages['text'][i])
    review = review.lower()
    review = review.split()
    
    review = [ps.stem(word) for word in review if not word in stopwords.words('english')]
    review = ' '.join(review)
    corpus1.append(review)

In [23]:
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [39]:
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import re
lemmatizer = WordNetLemmatizer()
corpus1 = []
for i in range(0,tech_skill_df.shape[0]):
    review = re.sub('[^a-zA-Z]', ' ', tech_skill_df['Technology Skills'][i])
    review = review.lower()
    review = review.split()
    
    review = [lemmatizer.lemmatize(word) for word in review if not word in stopwords.words('english')]
    review = ' '.join(review)
    corpus1.append(review)

In [40]:
tech=pd.DataFrame(corpus1)

In [41]:
tech

                                       0
0                    sap fiori developer
1    oracle instance management strategy
2           boomi master data management
3        digital manufacturing cloud dmc
4                                 devops
..                                   ...
974      oracle cloud revenue management
975      oracle eb grid contral mgt pack
976         amazon elastic mapreduce emr
977                          apache kudu
978                           oracle esb

[979 rows x 1 columns]

In [48]:
lemmatizer = WordNetLemmatizer()
corpus2 = []
for i in range(0,raw_skill.shape[0]):
    review = re.sub('[^a-zA-Z]', ' ', raw_skill['RAW DATA'][i])
    review = review.lower()
    review = review.split()
    
    review = [lemmatizer.lemmatize(word) for word in review if not word in stopwords.words('english')]
    review = ' '.join(review)
    corpus2.append(review)

In [49]:
raw=pd.DataFrame(corpus2)

In [50]:
raw

                                              0
0                                           ifs
1                                     seniority
2                                   familiarity
3                                 functionality
4                                        lambda
...                                         ...
34111                               negotiation
34112                                  deadline
34113  self motivated enthusiastic strong drive
34114                               negotiation
34115                                  deadline

[34116 rows x 1 columns]

In [46]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [66]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_v=TfidfVectorizer()
X=tfidf_v.fit_transform(corpus1)

In [67]:
tfidf_v.get_params()

{'analyzer': 'word',
 'binary': False,
 'decode_error': 'strict',
 'dtype': numpy.float64,
 'encoding': 'utf-8',
 'input': 'content',
 'lowercase': True,
 'max_df': 1.0,
 'max_features': None,
 'min_df': 1,
 'ngram_range': (1, 1),
 'norm': 'l2',
 'preprocessor': None,
 'smooth_idf': True,
 'stop_words': None,
 'strip_accents': None,
 'sublinear_tf': False,
 'token_pattern': '(?u)\\b\\w\\w+\\b',
 'tokenizer': None,
 'use_idf': True,
 'vocabulary': None}

In [68]:
X.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [69]:
X

<979x1232 sparse matrix of type '<class 'numpy.float64'>'
	with 3024 stored elements in Compressed Sparse Row format>

In [70]:
Y=tfidf_v.transform(corpus2)

In [71]:
Y

<34116x1232 sparse matrix of type '<class 'numpy.float64'>'
	with 31616 stored elements in Compressed Sparse Row format>

In [72]:
Y.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [73]:
 model = OneClassSVM(gamma='auto')

In [74]:
model.fit(X)

OneClassSVM(gamma='auto')

In [75]:
pred=model.predict(Y)

In [76]:
pred

array([ 1,  1,  1, ..., -1,  1,  1])

In [77]:
pred[0:20]

array([ 1,  1,  1, -1, -1, -1, -1, -1, -1,  1,  1,  1,  1,  1, -1, -1,  1,
        1, -1, -1])

In [79]:
type(pred)

numpy.ndarray

In [80]:
DF = pd.DataFrame(pred)
  
# save the dataframe as a csv file
DF.to_csv("data1.csv")

In [81]:
np.savetxt(fname="saved-rain-fall-row-col-names.csv", X=pred)